@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}


.error {
    color: red;
}

.content-container{
    vertical-align: middle;
}

[data-dir='debit'] {
    color: red;
}

.balanceTable{
    background-color: rgb(138, 136, 136);
}

.perifTable{
    background-color: lightsteelblue;
}

body{
    background-color: lightskyblue;
}
.navbar{
    background-color: navy;
}