<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.css.map')}}"></link>
    <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}"></link>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% assets "main_js" %}
    <script type='text/javascript' src="{{ ASSET_URL }}"></script>
    {% endassets %}




{% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>No Title</title>
    {% endif %}
{% endblock %}

</head>

{% if account_readout %}
    {% block account_readout %}
        <div class="account_readout">

            {% for customer in customers %}

                <table>
                    <tr>
                        <th>Name    </th>
                        <th>Date of Birth   </th>
                        <th>SSN    </th>
                    </tr>

                    <tr>
                        <td>{{customer.name}}   </td>
                        <td>{{customer.dob}}    </td>
                        <td>{{customer.ssn}}    </td>
                    </tr>
                </table>
            {% endfor %}

            {% if accounts %}
                {% for account in accounts %}
                    <table>

                        <tr>
                            <th>Account Number    </th>
                            <th>Balance    </th>
                            <th>Type    </th>
                        </tr>

                        <tr>
                            <td>{{account.acctn}}   </td>
                            <td>{{account.bal}}   </td>
                            <td>{{account.product}}   </td>
                        </tr>
                    </table>
                    
                    {% if account.transactions %}
                        <table>

                            <tr>
                                <th>Time    </th>
                                <th>Description </th>
                                <th>Amount  </th>
                            </tr>


                            {% for transaction in account.transactions %}
                                <tr>
                                    <td>{{transaction.time}}    </td>
                                    <td>{{transaction.description}}    </td>
                                    <td>{{transaction.amount}}    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    {% endblock %}
{% endif %}


{% block navbar %}
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new_customer">New Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new_account">New Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inquiry">Inquiry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/deposit">Deposit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/withdrawl">Withdrawl</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" href="/transfer">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="/buy">Buy</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/sell">Sell</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/balance">Balance</a>
            </li> 
        </ul>
    </div>
  </nav>
{% endblock %}

<div class="content-container">

    {% for error in errors %}
<div class="error">
    <p>{{error}}</p>
    {% endfor %}
</div>


{% block content %}


{% endblock %}
</div>

</html>
</body>