{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8 mx-auto text-center">
            <form action = "/buy" method= POST>
                <div class="form-group text-center">
                    <legend>Buy</legend>
                </div>
                <div class="form-group col-6 mx-auto">
                    {{ form.buy_from_id.label}}
                    {{ form.buy_from_id (class='form-control')}}
                </div>
                <div class="form-group col-6 mx-auto">
                    {{ form.amount.label}}
                    {{ form.amount (class='form-control')}}
                </div>
                <div class="form-group col-6 mx-auto">
                    {{ form.description.label}}
                    {{ form.description (class='form-control')}}
                </div>

                <div class="col-4 col-md-3 mx-auto">
                    {{ form.submit (class='form-control btn btn-primary')}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
