{% extends "base.html" %}

{% block content %}

{% if error %}
<div>{{error}}</div>
{% endif %}

<div class="form-group">
    {% if form %}
                <form action = "/inquiry" method= POST>
                    <legend>Inquiry</legend>
                    <p class="inquiry">
                        {{ form.account_number.label }}<br>
                        {{ form.account_number }}

                        {% if form.account_number.errors %}
                        <ul class="error">{% for error in form.account_number.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <br>

                        {{ form.submit }}
                        <br>
                    </p>
                </form>
    {% endif %}
</div>


{% if inquiry %}
    
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Date of Birth</th>
            <th>SSN</th>
        </thead>

        <tbody>
            {% for customer in customers %}
            <tr>
                <td><a href="customer?cid={{customer.customer_id}}">{{customer.name}}</a></td>
                <td>{{customer.dob}}</td>
                <td>{{customer.ssn}}</td>
            </tr>
            {% endfor %}
        </tbody>

    {% if account %}
            <thead class="thead-dark">
                <th>Account Number</th>
                <th>Balance</th>
                <th>Type</th>
            </thead>

            <tbody>
                <tr>
                    <td>{{account.acctn}}</td>
                    <td>{{account.formatted_balance()}}</td>
                    <td>{{account.prod}}</td>
                </tr>
            </tbody>

            <thead class="thead-dark">
                <th>Time</th>
                <th>Description</th>
                <th>Amount</th>
            </thead>

            <tbody>
                {% for transaction in account.transactions %}
                    <tr>
                        <td>{{transaction.time}}</td>
                        <td>{{transaction.description}}</td>
                        <td>{{transaction.formatted_amount()}}</td>
                    </tr>
                {%endfor%}
            </tbody>

        </table>
    {%endif%}
{%endif%}




{% endblock %}