{% extends 'base.html' %}

{%block content%}

{% if form %}
    <form action="/search" method="POST">
        <legend>Search</legend>

        {{ form.search_type.label }}
        {{ form.search_type }}

        {{ form.attr_type.label }}
        {{ form.attr_type }}

        {{ form.search_param.label }}
        {{ form.search_param }}
        
        {{form.submit}}
    </form>
{% endif %}

{% if search_return %}

    {% if customers %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th>Name</th>
                <th>Date of Birth</th>
                <th>SSN</th>
            </thead>

            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td><a href="customer?cid={{customer.customer_id}}">{{customer.name}}</a></td>
                        <td>{{customer.dob}}</td>
                        <td>{{customer.ssn}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if accounts %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th>Account Number</th>
                <th>Balance</th>
                <th>Type</th>
                <th>Owner</th>
            </thead>

            <tbody>
                {% for account in accounts %}
                
                    <tr>
                        <td><a href="inquiry?acct={{account.account_id}}">{{account.acctn}}</a></td>
                        <td>{{account.formatted_balance()}}</td>
                        <td>{{account.prod}}</td>
                        <td>{{account.primary_owner().name}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    {%endif%}
    
{% endif %}



{% endblock %}